.git
.idea
# .vscode
node_modules
# gulp
build
dist
ftp-data.json
# mail-data.php
# *.zip
# tasks.md
# .env
# .browserslistrc
# .editorconfig
# .gitignore
# .htmlhintrc
# .prettierrc
# eslint.config.mjs
# gulpfile.js
# issues.md
# package-lock.json
# package.json
# README.md
# webpack.config.js
# src