@mixin btn() {
  display: inline-block;
  padding: 0 5px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 13px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

@mixin btn-red() {
  color: $color_white;
  background-color: $color_red;

  &:hover {
    background-color: $color_red-light;
  }
}

@mixin btn-black() {
  border: 1px solid $color_black;
  color: $color_black;

  &:hover {
    border-color: $color_grey-blue;
    color: $color_grey-blue;
  }

  &:active {
    border-color: $color_red;
    color: $color_red;
  }
}

@mixin btn-white {
  border: 1px solid $color-white;
  color: $color-white;

  &:hover {
    border-color: $color_grey;
    color: $color_grey;
  }
}

@mixin btn-grey {
  font-size: 11px;
  color: $color-white;
  background-color: $color_grey-blue;

  &:hover {
    background-color: $color_grey-blue-light;
  }
}
